body{
    background-color: #222;
}

//navbar
    nav.topnav{
        // height: 60px;
        position: fixed;
        background-color: #222;
        width: 100%;
        position: fixed;
        top: 0;
        overflow-y: hidden;
        z-index: 500;
        [data-bs-toggle~="collapse"] {
            cursor: pointer;
        }
    }

//page backgrounds
    .pokemon-background{
        position: fixed; 
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-size: 10em!important;
        background-attachment: fixed!important;
        background-position: bottom left!important;
        opacity: 0.03;
        &.first{
            background-image: url("./components/images/background-pattern-1.jpg");
        }
        &.second{
            background-image: url("./components/images/background-pattern-2.png");
        }
    }
    .page-container{
        position: relative;
        z-index: 100;
        margin-top: 75px;
    }

//home page
    .pokeapi-logo{
        height: 2.5em;
    }

//types color
    $types: ("bug": #729f3f, "dark": #707070, "dragon": #53a4cf,
            "electric": #eed535, "fairy": #fdb9e9, "fighting": #d56723,
            "fire": #fd7d24, "flying": #3dc7ef, "ghost": #7b62a3,
            "grass": #9bcc50, "ground": #f7de3f, "ice": #51c4e7,
            "normal": #a4acaf, "poison": #b97fc9, "psychic": #f366b9,
            "rock": #a38c21, "steel": #9eb7b8, "water": #4592c4,
            "mythical": #9d00c9, "legendary": #ac1e1e);
    
    @each $type, $color in $types {
        .bg-type-#{$type} {
            background-color: $color;
            color: lighten($color, 45%);
            @if lightness($color) > 55%{
                color: #333;
            }
        }
        .light-bg-type-#{$type} {
            background-color: rgba(lighten($color, 20%), 0.1);
            border: 2px $color solid;
        }
        .lighter-bg-type-#{$type} {
            background-color: lighten($color, 35%);
            border: 2px lighten($color, 35%) solid;
            color: darken($color, 40%);
        }
        .border-type-#{$type} {
            border: 2px $color solid;
        }
        .text-type-#{$type} {
            color: $color;
        }
    }


//pokedex page
    .no-opacity{opacity: 0!important;}
    .not-loaded{opacity: 0!important;}
    .card-container{
        opacity: 1;
        transition: 0.5s;
        .card{
            background-size: 10em!important;
            background-image: url("./components/images/background-pattern-3.png");
            border-radius: 15px;
            border: 0;
            color: #222;
            transition: 0.15s;
            background-color: #d3d3d3;
            position: relative;
            .card-img{
                background-color: #efefef;
                border-radius: 15px;
                width:100%;
                object-fit: cover;
                &.back-image{
                    position: absolute;
                    transition: 0.2s;
                    top: 0;
                    left: 0;
                    opacity: 0;
                }
            }
            .card-body{
                bottom: 0;
                width: 100%;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
                h1,h2,h3,h4,h5,h6,span{
                    text-transform: capitalize!important;
                    color: #222;
                }
            }
            &:hover{
                transition: 0.2s;
                transform: scale(1.03);
                z-index:400;
                box-shadow: 0px 0px 20px #00000022;
                .card-body{
                    opacity: 1;
                    transition: 0.2s;
                }
                .back-image{
                    opacity: 1;
                    transition: 0.2s;
                }
            }

        } 
    }

    
//pokemon page
    .details-row{
        opacity: 1;
        transition: 0.5s;
    }
    .img-pokemon{
        width: 100%;
        height: auto;
        border-radius: 0.75em;
        background-color: #11111122;
    }
    .evo-pill{
        position: absolute;
        bottom: 15px;
        right: 6px;
    }
    .details-card{
        background-size: 10em!important;
        background-image: url("./components/images/background-pattern-3.png");
        border-radius: 0.75em;
        background-color: #eee;
    }
    .sprite-pokemon{
        height: 5em;
        width: auto;
    }
    .big-h1{
        font-size: 3.5rem!important;  
    }
